<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.mobilesafeguard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.yc.mobilesafeguard" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
<!--     <uses-permission android:name="android.permission.DELETE_CACHE_FILES"/> -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.yc.mobilesafeguard.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yc.mobilesafeguard.activity.HomeActivity" >
        </activity>
        <activity android:name="com.yc.mobilesafeguard.activity.SettingActivity" />
        <activity android:name="com.yc.mobilesafeguard.activity.SafetyActivity" />
        <activity android:name="com.yc.mobilesafeguard.activity.Setup1Activity" />
        <activity android:name="com.yc.mobilesafeguard.activity.Setup2Activity" />
        <activity android:name="com.yc.mobilesafeguard.activity.Setup3Activity" />
        <activity android:name="com.yc.mobilesafeguard.activity.Setup4Activity" />
        <activity android:name="com.yc.mobilesafeguard.activity.ProcessManageActivity" />
         <activity android:name="com.yc.mobilesafeguard.activity.AppLockPwdActivity"
              android:launchMode="singleInstance"
              android:excludeFromRecents="true"/>

        <receiver android:name="com.yc.mobilesafeguard.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.yc.mobilesafeguard.activity.SelectContactActivity" >
        </activity>
        <activity android:name="com.yc.mobilesafeguard.activity.AdvanceToolActivity" />
        <activity android:name="com.yc.mobilesafeguard.activity.NumberLocationActivity" />
        <activity android:name="com.yc.mobilesafeguard.activity.CallSMSActivity" />
        <activity android:name="com.yc.mobilesafeguard.activity.AppManageActivity" />
        <activity android:name="com.yc.mobilesafeguard.activity.ProcessSettingActivity" />
		 <activity android:name="com.yc.mobilesafeguard.activity.DataTrafficActivity" />
        <activity android:name="com.yc.mobilesafeguard.activity.AntiVirusActivity" 
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
         <activity android:name="com.yc.mobilesafeguard.activity.CleanCacheActivity" />
        
        
        <receiver android:name="com.yc.mobilesafeguard.receiver.SmsReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.yc.mobilesafeguard.receiver.LockSceenReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.yc.mobilesafeguard.receiver.MyWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/process_widget_provider" />
        </receiver>
		<receiver android:name="com.yc.mobilesafeguard.receiver.ClearAllReceiver">
		    <intent-filter>
		        <action android:name="com.yc.mobilesafeguard.clearall"/>
		    </intent-filter>
		</receiver>
        
        
        <service android:name="com.yc.mobilesafeguard.service.GPSService" />
        <service android:name="com.yc.mobilesafeguard.service.NumberLocationService" />
        <service android:name="com.yc.mobilesafeguard.service.CallSMSService" />
        <service android:name="com.yc.mobilesafeguard.service.AutoCleanProcessService" />
        <service android:name="com.yc.mobilesafeguard.service.UpdateWidgetService" />
        <service android:name="com.yc.mobilesafeguard.service.WatchDogService" />
    </application>

</manifest>